{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<form id="paymentForm">
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" id="email-address" required />
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="tel" id="amount" value="{{order.get_total}}" required />
  </div>
  <div class="form-submit">
    <button type="submit" onclick="payWithPaystack()"> Pay </button>
  </div>
</form>

<script src="https://js.paystack.co/v1/inline.js"></script> 
{% include "order_snippet.html" %}

</div>

<script>
    const paymentForm = document.getElementById('paymentForm');
paymentForm.addEventListener("submit", payWithPaystack, false);
function payWithPaystack(e) {
  e.preventDefault();

  let handler = PaystackPop.setup({
    key: '{{paystack_public_key}}', // Replace with your public key
    email: document.getElementById("email-address").value,
    amount: document.getElementById("amount").value * 100,
    ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
    // label: "Optional string that replaces customer email"
    onClose: function(){
      alert('Window closed.');
    },
    callback: function(response){
      let message = 'Payment complete! Reference: ' + response.reference;
      alert(message);
    }
  });

  handler.openIframe();
}
</script>



=======================================================================================
=======================================================================================



{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <div class="d-flex row justify content center align-items-center py-md-5 py-3" style="min-height: 30vh;">
        <h1>Make payment for: NG {{order.get_total}} </h1>
        <hr>

        <script src="https://js.paystack.co/v1/inline.js"></script>
        <button class="btn btn-large btn-success" onclick="payWithPayStack()" id="paystack-button">Make Payment</button>
    </div>
{% include "order_snippet.html" %}

</div>

<script>
    function payWithPayStack() {
        let currency = "NGN";
        let plan = "";
        let ref = "{{payment.ref}}"
        let obj = {
            key: "{{paystack_public_key}}",
            email: "{{payment.email}}",
            amount: "{{order.get_total}}",
            ref: ref,
            callback: function(response) {
                window.location.href = "{% url 'verify-payment' payment.ref %}";
            }
        }
        if (Boolean(currency)) {
            obj.currency = currency.toUpperCase()
        }
        if (Boolean(plan)) {
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>
<!-- {% url 'verify-payment' payment.ref %} -->

{% endblock content %}